<div class="portfolio">
  <div class="portfolio__sec-1">
    <h2>Portfolio</h2>
  </div>
  <div class="portfolio__sec-2">
    <div class="portfolio__sec-2--title">
      <h3 class="semi-header">Exquisite Services Tailored to Perfection</h3>
    </div>
    <div>
      <p>
        Design Unity is a dream for builders, architects, interior designers,
        developers, and consultants. We enhance their efforts in breathing life
        into structures that are imagined, designed, and built with commitment
        and a vision to deliver excellence. Our superior quality products ensure
        that the environment and client requirements are prioritized.
      </p>
      <p>
        We offer high-quality, sustainable products that turn walls, floors, and
        ceilings into unforgettable beauties. Emulsions, textures, enamels,
        primers & putty, paints, woodcare, and construction chemicals - you name
        it, and we’ll show you what excellence looks like on walls.
      </p>
    </div>
  </div>
  <du-tabs
    (changeLayout)="changeLayout($event)"
    (changeTab)="changeTabs($event)"
    [options]="true"
  >
    <my-tab class="tabs" *ngFor="let tab of tabs" [tabTitle]="tab.tabTitle">
      <div
        class="portfolio__grid"
        [style.gridTemplateColumns]="'repeat(' + layout + ', 1fr)'"
      >
        <div
          class="portfolio__grid--item"
          *ngFor="let item of contentData"
          (click)="openDialog(item)"
        >
          <div class="item__img">
            <img src="{{ item.imagePath }}" alt="" />
          </div>
          <div class="item__details">
            <p>{{ item?.data?.heading }}</p>
            <h2>{{ item?.data?.description }}</h2>
          </div>
        </div>
      </div>
    </my-tab>
  </du-tabs>
</div>
<!-- <app-du-dialog
  [title]="dialogTitle"
  [isVisible]="dialogData !== null"
  (close)="closeDialog()"
>
  <p *ngIf="dialogData">{{ dialogData.message }}</p>
</app-du-dialog> -->
<!-- <app-footer></app-footer> -->
