@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixins";

.portfolio {
  min-height: 100vh;
  &__sec-1 {
    background-image: url("../../../assets/img/portfolio-landing.svg");
    min-height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10%;
    background-position: center;
    h2 {
      padding-top: 100px;
      font-size: clamp(12px, 5.5vw, 70px);
      font-family: "Tenor_Sans";
      color: #000;
      font-weight: 300;
    }
    @media (max-width: 500px) {
      min-height: 35vh;
      padding: 0 20px;
      h2 {
        padding-top: 50px;
      }
    }
  }
  &__sec-2 {
    padding: 10px;
    padding: 100px 15%;
    display: grid;
    gap: 20px;
    justify-content: center;
    background-color: rgba(#fffdf8, 0.9);
    background-image: url("../../../assets/img/portfolio-mask.svg");
    // h3 {
    //   font-size: 2.2rem;
    //   display: flex;
    //   justify-content: center;
    //   font-family: "Tenor_Sans";
    //   color: #723c0d;
    //   font-weight: 100;
    // }
    p {
      // font-size: clamp(0.8rem, -0.875rem + 5vw, 1.2rem);
      text-align: center;
      line-height: 1.5em;
      font-family: "Helvetica-light";
      max-width: 1000px;
    }
    h3 {
      text-align: center;
    }
    @media (max-width: 500px) {
      // min-height: 35vh;
      padding: 30px 16px;
      gap: 15px;

      // p {
      //   font-size: clamp(0.8rem, -0.875rem + 5vw, 1.2rem);
      //   line-height: 1.5;
      // }
    }
  }
  ::ng-deep .du-tabs__container {
    ul {
      li {
        a {
          text-transform: uppercase;
        }
      }
    }
  }
  // ::ng-deep .tabs {
  //   max-width: $screen-max-size;
  // }
  &__grid {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    gap: 35px;
    @media (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 10px;
    }
    &--item {
      width: 100%;
      min-height: 200px;
      cursor: pointer;
      img {
        max-width: 100%;
        min-width: 100%;
      }
      .item__img {
      }
      .item__details {
        display: grid;
        padding: 4px 0 10px 0;
        gap: 5px;
        p {
          // font-size: clamp(0.8rem, -0.875rem + 5vw, 1rem);
          font-family: "Helvetica-light";
          color: #363333;
          padding-bottom: 5px;
        }
        h2 {
          font-size: clamp(0.8rem, -0.875rem + 5vw, 1rem);
          font-family: "Helvetica-regular";
          color: #363333;
          text-transform: capitalize;
        }
      }
    }
  }
}
