@import "../../../styles/scss/variables";
.portfolio {
  min-height: 100vh;
  &__sec-1 {
    background-image: url("../../../assets/img/portfolio-landing.svg");
    min-height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10%;
    background-position: center;
    h2 {
      font-size: 80px;
      font-family: "rollgates_luxuryregular";
    }
    @media (max-width: 500px) {
      min-height: 35vh;
      padding: 0 20px;
      h2 {
        font-size: 40px;
      }
    }
  }
  &__sec-2 {
    padding: 10px;
    padding: 100px 15%;
    display: grid;
    gap: 30px;
    background-color: rgba(#fffdf8, 0.9);
    background-image: url("../../../assets/img/portfolio-mask.svg");
    h3 {
      font-size: 40px;
      display: flex;
      justify-content: center;
      font-family: "Tenor_Sans";
      color: #723c0d;
    }
    p {
      font-size: 25px;
      text-align: center;
      line-height: 39px;
      font-family: "Helvetica-light";
    }
    @media (max-width: 500px) {
      min-height: 35vh;
      padding: 30px 20px;
      gap: 15px;
      h3 {
        font-size: 25px;
        // padding:0 40px;
        text-align: center;
      }
      p {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
  // ::ng-deep .tabs {
  //   max-width: $screen-max-size;
  // }
  &__grid {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    gap: 35px;
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr) !important;
    }
    &--item {
      width: 100%;
      min-height: 200px;
      cursor: pointer;
      img {
        max-width: 100%;
        min-width: 100%;
      }
      .item__img {
      }
      .item__details {
        display: grid;
        padding: 10px 0;
        gap: 10px;
        p {
          font-size: 16px;
          font-family: "Helvetica-light";
          color: #363333;
        }
        h2 {
          font-size: 20px;
          font-family: "Helvetica-regular";
          color: #363333;
        }
      }
    }
  }
}
