@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixins";

.portfolio {
  min-height: 100vh;
  &__sec-1 {
    background-image: url("../../../assets/img/portfolio-landing.svg");
    min-height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10%;
    background-position: center;
    h2 {
      @include banner_heading;
    }
    @media (max-width: 500px) {
      min-height: 35vh;
      padding: 0 20px;
      h2 {
        font-size: 40px;
      }
    }
  }
  &__sec-2 {
    padding: 10px;
    padding: 100px 15%;
    display: grid;
    gap: 30px;
    background-color: rgba(#fffdf8, 0.9);
    background-image: url("../../../assets/img/portfolio-mask.svg");
    .header {
      @include heading;
      padding: 2rem 1.5rem 1rem;
    }
    .paragraph {
      @include page_content;
    }
    @media (max-width: 500px) {
      min-height: 35vh;
      padding: 30px 20px;
      gap: 15px;
      h3 {
        font-size: 25px;
        text-align: center;
      }
      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  &__grid {
    display: grid;
    justify-content: center;

    gap: 35px;
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr) !important;
    }
    &--item {
      width: 100%;
      min-height: 200px;
      cursor: pointer;
      img {
        max-width: 100%;
        min-width: 100%;
      }
      .item__img {
      }
      .item__details {
        display: grid;
        padding: 10px 0;
        gap: 10px;
        p {
          font-size: 16px;
          font-family: $text_font;
          color: #363333;
        }
        h2 {
          font-size: 20px;
          font-family: $text_font_regular;
          color: #363333;
        }
      }
    }
  }
}
