<div class="portfolio">
  <div class="portfolio__sec-1">
    <h2>Portfolio</h2>
  </div>
  <div class="portfolio__sec-2">
    <div class="portfolio__sec-2--title">
      <h3 class="semi-header">Transforming Spaces, Redefining Magnificence</h3>
    </div>
    <div>
      <p class="paragraph">
        From visionary conceptual design to long-lasting performance and shine,
        we help you design spaces with exquisite surfaces that inspire
        architects, interior designers, businesses, studios, homeowners, and
        developers.
      </p>
      <p class="paragraph">
        It is not just about finishes, but our portfolio is the story of
        building sustainable and high-quality surfaces that raise a great
        impression and accentuate the purpose of your spaces. Whether it is
        walls, floors, or ceilings, we offer a full range of premium solutions.
        Whatever your project calls for, we deliver in the language of quality.
      </p>
    </div>
  </div>
  <du-tabs
    (changeLayout)="changeLayout($event)"
    (changeTab)="changeTabs($event)"
    [options]="true"
  >
    <my-tab class="tabs" *ngFor="let tab of tabs" [tabTitle]="tab.tabTitle">
      <div
        class="portfolio__grid"
        [style.gridTemplateColumns]="'repeat(' + layout + ', 1fr)'"
      >
        <div
          class="portfolio__grid--item"
          *ngFor="let item of contentData"
          (click)="openDialog(item)"
        >
          <div class="item__img">
            <img src="{{ item?.imagePathLow }}" alt="" />
          </div>
          <div class="item__details">
            <p>{{ item?.Catatiry }}</p>
            <h2>{{ item?.desctiption }}</h2>
          </div>
        </div>
      </div>
    </my-tab>
  </du-tabs>
</div>
<!-- <app-du-dialog
  [title]="dialogTitle"
  [isVisible]="dialogData !== null"
  (close)="closeDialog()"
>
  <p *ngIf="dialogData">{{ dialogData.message }}</p>
</app-du-dialog> -->
<!-- <app-footer></app-footer> -->
