@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixins";
.venetian {
  // height: 100%;
  // overflow: auto;
  &__header {
    height: 75vh;
    background-image: url("../../../assets/img/solutions/venetian-plasters-bg.svg");
    display: grid;
    align-items: center;
    padding-left: 100px;
    background-position: top right;
    background-size: cover;
    h2 {
      padding-top: 100px;
      font-size: clamp(12px, 5.5vw, 70px);
      font-family: "Tenor_Sans";
      color: #000;
      font-weight: 300;
    }
    @media (max-width: 1200px) {
      height: 65vh;
      padding-left: 70px;
      h2 {
        padding-top: 80px;
        font-weight: 400;
      }
    }
    @media (max-width: 550px) {
      height: 35vh;
      padding-left: 30px;
      h2 {
        padding-top: 50px;
        font-weight: 600;
      }
    }
  }

  &__grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      &--chip {
        padding: 10px 15px;
        background-color: #000;
        color: #fff;
      }
    }
    &--item {
      text-align: center;
      position: relative;
      .item__img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--data {
        position: absolute;
        padding: 10px 16px;
        bottom: 0;
        width: 100%;
        visibility: hidden;
        background-color: rgba(#fff, 0.8);
        opacity: 0;
        -webkit-transition: all 0.6s ease-in-out 0s;
        -moz-transition: all 0.6s ease-in-out 0s;
        transition: all 0.6s ease-in-out 0s;
        overflow: hidden;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.22);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.22);
        p {
          padding-top: 10px;
          font-size: 14px;
          text-align: left;
        }
      }
      &:nth-child(2n - 1),
      &:nth-child(1n) {
        width: calc(70% - 10px);
      }
      &:hover {
        .venetian__grid--item--data {
          opacity: 1;
          visibility: visible;
        }
      }
      &:nth-child(4n - 2),
      &:nth-child(4n - 1) {
        width: calc(30% - 10px);
      }
      @media (max-width: 600px) {
        &:nth-child(2n - 1),
        &:nth-child(1n),
        &:nth-child(4n - 2),
        &:nth-child(4n - 1) {
          width: 100%;
        }
      }
    }
    // grid-template-columns: 30% 70%;
  }
  // Mixin to reverse columns

  &__about {
    background: #f6f1eb url(../../../assets/img/bg.png) no-repeat center center;
    background-size: cover;
    padding: clamp(20px, 5.5vh, 100px) clamp(15px, 5vh, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    &--content {
      max-width: 1440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(10px, 3.5vh, 60px);
    }
  }
  &__tabs {
  }
}
.more-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  button {
    padding: 0 15px;
    border-radius: 50px;
    border: none;
    background-color: #2f1a05;
    display: flex;
    align-items: center;
    height: 40px;
    text-transform: uppercase;
    color: #fff;
    gap: 10px;
    cursor: pointer;
    span {
      height: 6px;
      width: 6px;
      border-radius: 100%;
      display: grid;
      align-items: center;
      justify-content: center;
      -webkit-transition: 0.3s ease-in-out;
      background-color: #d8976e;
    }
    &:hover {
      span {
        height: 24px;
        width: 24px;
        img {
          animation: mover 0.5s ease-in-out forwards;
          width: 10px;
          height: 13px;
        }
      }
    }
    &:not(:hover) {
      .menu-item__pointer {
        span {
          img {
            animation: moverOut 0.7s ease-in-out forwards;
          }
        }
      }
    }
  }
}
@keyframes mover {
  0% {
    transform: translate(-11px, 11px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes moverOut {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(-11px, 11px);
  }
}
// .venetian__grid {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-auto-rows: 1fr;
//   gap: 10px; /* adjust the gap as needed */
// }

// .venetian__grid--item {
//   background-color: #eee;
//   padding: 20px;
// }

// .venetian__grid--item:nth-child(even) {
//   grid-column: 2;
// }

// .venetian__grid--item:nth-child(odd) {
//   grid-column: 1;
// }
// .venetian__grid {
//   display: grid;
//   grid-template-columns: 30% 70%;
//   grid-auto-rows: 1fr;
//   gap: 10px;
//   /* adjust the gap as needed */
// }
// .venetian__grid--item {
//   background-color: #eee;
//   padding: 20px;
// }
// .venetian__grid--item:nth-child(even) {
//   grid-column: 1;
// }
// .venetian__grid--item:nth-child(odd) {
//   grid-column: 2;
// }
// .venetian__grid {
//   display: flex;
//   flex-wrap: wrap;
// }
// .venetian__grid--item {
//   width: calc(30% - 10px);
//   margin: 5px;
// }
// .venetian__grid--item:nth-child(even) {
//   width: calc(70% - 10px);
// }
