<div class="venetian">
  <div class="venetian__header">
    <h2>Venetian Plasters</h2>
  </div>
  <div class="venetian__about">
    <div class="venetian__about--content">
      <h3 class="semi-header">Spoilt for Choice</h3>
      <p class="paragraph">
        Venetian plaster, which dominated home decor in the 90s, continues to
        make its presence felt even today. The secret to its never-ending
        popularity lies in its unique characteristics - natural materials,
        ancient Greek and Egyptian art, unchanged beauty, and durability. Our
        exceptional services and this glorious product will give you
        unimaginably spectacular outcomes.
      </p>
    </div>
  </div>
  <div class="venetian__tabs">
    <du-tabs
      (changeLayout)="changeLayout($event)"
      (changeTab)="changeTabs($event)"
      [options]="false"
      x
    >
      <my-tab
        class="tabs"
        *ngFor="let tab of tabs; let i = index"
        [tabTitle]="tab.tabTitle"
      >
        <!-- {{ tab.tabTitle }} -->
        <div class="venetian__grid">
          <div *ngFor="let item of itemsToShow" class="venetian__grid--item">
            <div class="item__img">
              <img [src]="item?.imagePath" alt="" />
            </div>
            <div class="venetian__grid--item--data">
              <div class="venetian__grid--header">
                <h2>{{ item?.data?.heading }}</h2>
                <div class="venetian__grid--header--chip">
                  {{ item?.data?.type }}
                </div>
              </div>
              <hr />
              <p>{{ item?.data?.description! }}</p>
            </div>
          </div>
          <div class="more-btn" *ngIf="moreBtn">
            <button (click)="loadMoreItems()">
              Load More
              <span class="studio"
                ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
              /></span>
            </button>
          </div>
        </div>
      </my-tab>
    </du-tabs>
  </div>
</div>
