<div class="venetian">
  <div class="venetian__header">
    <h2>Venetian Plasters</h2>
  </div>
  <div class="venetian__about">
    <div class="venetian__about--content">
      <h3 class="semi-header">Spoilt for Choice</h3>
      <p class="paragraph">
        Venetian plaster, which dominated home decor in the 90s, continues to
        make its presence felt even today. The secret to its never-ending
        popularity lies in its unique characteristics - natural materials,
        ancient Greek and Egyptian art, unchanged beauty, and durability. Our
        exceptional services and this glorious product will give you
        unimaginably spectacular outcomes.
      </p>
    </div>
  </div>
  <div class="venetian__tabs">
    <du-tabs
      (changeLayout)="changeLayout($event)"
      (changeTab)="changeTabs($event)"
      [options]="false"
      x
    >
      <my-tab
        class="tabs"
        *ngFor="let tab of tabs; let i = index"
        [tabTitle]="tab.tabTitle"
      >
        <!-- {{ tab.tabTitle }} -->
        <div class="venetian__grid">
          <div *ngFor="let item of itemsToShow" class="venetian__grid--item">
            <div class="item__img">
              <img [src]="item?.imagePath" alt="" />
            </div>
            <div class="venetian__grid--item--data">
              <div class="venetian__grid--header">
                <h2>{{ item?.data?.heading }}</h2>
                <div class="venetian__grid--header--chip">
                  {{ item?.data?.type }}
                </div>
              </div>
              <hr />
              <p>{{ item?.data?.description! }}</p>
            </div>
          </div>
          <div class="more-btn" *ngIf="moreBtn">
            <button (click)="loadMoreItems()">
              Load More
              <span class="studio"
                ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
              /></span>
            </button>
          </div>
        </div>
      </my-tab>
    </du-tabs>
  </div>
  <div class="blogs">
    <div class="blogs__parent">
      <h2 class="blogs__parent--header semi-header">Recent Blogs</h2>
      <div *ngIf="posts.length > 0; else noPosts" class="blogs__list">
        <div *ngFor="let post of posts" class="blogs__item">
          <div
            class="blogs__item--img"
            *ngIf="post._embedded['wp:featuredmedia']?.length > 0"
          >
            <img
              [src]="post._embedded['wp:featuredmedia'][0].source_url"
              alt="{{ post.title.rendered }}"
            />
          </div>
          <div class="blogs__item--header">
            <h2>{{ post.title.rendered }}</h2>
          </div>
          <div class="card__details">
            <!-- <div class="card__details__text" [innerHTML]="post.excerpt.rendered | slice:0:150"></div> -->

            <div
              class="blogs__item--text"
              [innerHTML]="
                post.excerpt.rendered.length > 150
                  ? (post.excerpt.rendered | slice : 0 : 150) + '...'
                  : post.excerpt.rendered
              "
            ></div>

            <button
              class="button"
              [routerLink]="['/blog', post.title.rendered, post.id]"
            >
              Know More
              <img src="./assets/svg/arrow.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
      <ng-template #noPosts>
        <p>No posts available.</p>
      </ng-template>
    </div>
  </div>
</div>
