@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixins";
.venetian {
  height: 100%;
  overflow: auto;
  &__header {
    height: 75vh;
    background-image: url("../../../assets/img/solutions/venetian-plasters-bg.svg");
    display: grid;
    align-items: center;
    padding-left: 100px;
    background-position: top right;
    background-size: cover;
    h2 {
      padding-top: 100px;
      @include page-header();
      font-weight: 300;
    }
    @media (max-width: 1200px) {
      height: 65vh;
      padding-left: 70px;
      h2 {
        padding-top: 80px;
        font-weight: 400;
      }
    }
    @media (max-width: 550px) {
      height: 35vh;
      padding-left: 30px;
      h2 {
        padding-top: 50px;
        font-weight: 600;
      }
    }
  }
  &__about {
    background: #f6f1eb url(../../../assets/img/bg.png) no-repeat center center;
    background-size: cover;
    padding: clamp(20px, 5.5vh, 100px) clamp(15px, 5vh, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    &--content {
      max-width: 1440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(10px, 3.5vh, 60px)
    }
  }
  &__tabs {
    border: 1px solid red;
  }
}
