<div class="aboutus">
    <div class="aboutus__sec-1">
      <h2>About Us</h2>
    </div>
    <div class="aboutus__sec-2">
      <div class="aboutus__sec-2--title">
        <h3>Our Profile</h3>
      </div>
      <p>
        Venetian plaster has existed for centuries. Although it dates back to the ancient Romans, it was only during the 16th-century Renaissance that the material inspired multiple skilled craftsmen and artists.
        </p> 
        <p>Design Unity combines this ancient technique with an impeccable finish to transform any regular surface into a masterpiece. 
        </p>
        <p>We combine art and science to bring out the authentic beauty of surfaces that will be eye-catching for years to come. Sourcing natural lime from Italy and other parts of the world, we create plasters that can be applied to surfaces in varying designs and patterns to achieve stunning results. We offer a blend of special additives, such as mother of pearl, marble flour, or gold flakes that create lustrous facades.
       </p>
    </div>


</div>

