<div class="section bg-img">
  <div class="container">
    <div class="about_section" id="aboutUs">
      <h1 class="heading semi-header">About Us</h1>
      <p class="paragraph">
        We are a one-of-a-kind supply & apply partner of high-end Venetian
        plaster finishes that elevate your residential and commercial spaces. We
        provide customised solutions that bring your dreams and vision to life,
        with a commitment to craftsmanship and an unparalleled selection of
        eco-friendly finishes.
      </p>
      <p class="paragraph">
        Our products, imported from Italy, and expert-trained applicators with
        years of training directly from Italian experts combine professional
        techniques with modern innovation to offer timeless elegance,
        durability, and an exquisite tactile experience.
      </p>
      <p class="paragraph">
        Trusted by leading architects, designers, developers, and modern
        homeowners, we provide a complete range of services from space
        evaluation, product, and finish selection to application, ensuring
        exceptional results every time, on time.
      </p>
    </div>
  </div>
</div>
