@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixins";
@import "../../../styles/scss/container";

.about {
  &_section {
   
    min-height: 40vh;
    background: #f6f1eb url(../../../assets/img/bg.png) no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    p {
      padding: 2rem 10em;
      line-height: 1.8;
      font-size: 1.4rem;
      text-align: center;
      letter-spacing: 0.9px;
      margin: 0 auto;
    }
    h1 {
      @include heading;
      padding: 2rem 1.5rem 1rem;
    }
  }
}
