<div class="studio_slider">
  <app-studio-slider></app-studio-slider>
</div>

<div class="studio_accordion">
  <nav id="navbar">
    <div class="nav_list">
      <a
        class="nav-link"
        [ngClass]="{ active: activeSection === 'section1' }"
        (click)="scrollToSection('section1')"
      >
        Hyderabad
      </a>
      <a
        class="nav-link"
        [ngClass]="{ active: activeSection === 'section2' }"
        (click)="scrollToSection('section2')"
      >
        Delhi
      </a>
      <a
        class="nav-link"
        [ngClass]="{ active: activeSection === 'section3' }"
        (click)="scrollToSection('section3')"
      >
        Bangalore
      </a>
    </div>
  </nav>

  <div id="content">
    <section id="section1" #section>
      <h3>Experience Center</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy
      </p>
      <h3>Hyderabad Experience Center</h3>
      <p>
        Design Unity’s Experience Center is a destination of choice for those
        who appreciate the timeless beauty of Hyderabad. Covering 15000 square
        feet, it’s a comprehensive showcase of a wide variety of stunning
        surface finishes that bring the mesmerizing vibe of this South Indian
        city to your home or office. The center is designed to give you a
        tangible sense of the city of pearl with its colors and textures that
        bring Hyderabad to life anywhere in the world. It’s a place that brings
        the ancient, royal culture of the city to your walls, ceilings, and
        floors. Step into the ravishing Mughal culture impeccably depicted in
        our products, by pushing the boundaries of design.
      </p>
      <p>
        Visit us on the 10th floor, Techno 1, Opposite KIMS Hospital, Raidurgam,
        Hyderabad, and start your journey towards creating beautiful spaces.
      </p>
      <h3>What you’ll See</h3>
      <p>
        Our Experience Center is home to 32 unique finishes representing
        Hyderabad and the largest collection of Venetian Plasters in India.
        Explore the beauty of exquisite finishes, each taking you into a
        different world of Hyderabadi opulence.
      </p>

      <div class="studio_gallery">
        <img src="../../../assets/img/studio/DSC00153.png" />
        <img src="../../../assets/img/studio/DSC00447.png" />
        <img src="../../../assets/img/studio/DSC00262.png" />
        <img src="../../../assets/img/studio/DSC00356.png" />
      </div>

      <app-modal></app-modal>
      
    </section>
    <section id="section2" #section>
      <h3>Experience Center</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy
      </p>
      <h3>DELHI Experience Center</h3>
      <p>
        Design Unity’s Experience Center is a destination of choice for those
        who appreciate the timeless beauty of Hyderabad. Covering 15000 square
        feet, it’s a comprehensive showcase of a wide variety of stunning
        surface finishes that bring the mesmerizing vibe of this South Indian
        city to your home or office. The center is designed to give you a
        tangible sense of the city of pearl with its colors and textures that
        bring Hyderabad to life anywhere in the world. It’s a place that brings
        the ancient, royal culture of the city to your walls, ceilings, and
        floors. Step into the ravishing Mughal culture impeccably depicted in
        our products, by pushing the boundaries of design.
      </p>
      <p>
        Visit us on the 10th floor, Techno 1, Opposite KIMS Hospital, Raidurgam,
        Hyderabad, and start your journey towards creating beautiful spaces.
      </p>
      <h3>What you’ll See</h3>
      <p>
        Our Experience Center is home to 32 unique finishes representing
        Hyderabad and the largest collection of Venetian Plasters in India.
        Explore the beauty of exquisite finishes, each taking you into a
        different world of Hyderabadi opulence.
      </p>

      <div class="studio_gallery">
        <img src="../../../assets/img/studio/DSC01046.png" />
        <img src="../../../assets/img/studio/DSC01011.png" />
        <img src="../../../assets/img/studio/DSC01005.png" />
        <img src="../../../assets/img/studio/DSC01078.png" />
      </div>

      <div class="button_div">
        <a class="menu-link"> View All </a>
        <span class="pointer">
          <img src="./assets/svg/nav-arrow.svg" width="60%" alt="" />
        </span>
      </div>

      

    </section>

    <section id="section3" #section>
      <h3>Experience Center</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy
      </p>
      <h3>BAGALORE Experience Center</h3>
      <p>
        Design Unity’s Experience Center is a destination of choice for those
        who appreciate the timeless beauty of Hyderabad. Covering 15000 square
        feet, it’s a comprehensive showcase of a wide variety of stunning
        surface finishes that bring the mesmerizing vibe of this South Indian
        city to your home or office. The center is designed to give you a
        tangible sense of the city of pearl with its colors and textures that
        bring Hyderabad to life anywhere in the world. It’s a place that brings
        the ancient, royal culture of the city to your walls, ceilings, and
        floors. Step into the ravishing Mughal culture impeccably depicted in
        our products, by pushing the boundaries of design.
      </p>
      <p>
        Visit us on the 10th floor, Techno 1, Opposite KIMS Hospital, Raidurgam,
        Hyderabad, and start your journey towards creating beautiful spaces.
      </p>
      <h3>What you’ll See</h3>
      <p>
        Our Experience Center is home to 32 unique finishes representing
        Hyderabad and the largest collection of Venetian Plasters in India.
        Explore the beauty of exquisite finishes, each taking you into a
        different world of Hyderabadi opulence.
      </p>

      <div class="studio_gallery">
        <img src="../../../assets/img/studio/DSC00628.png" />
        <img src="../../../assets/img/studio/DSC00605.png" />
        <img src="../../../assets/img/studio/DSC00602.png" />
        <img src="../../../assets/img/studio/DSC00618.png" />
      </div>

      <div class="button_div">
        <a class="menu-link"> View All </a>
        <span class="pointer">
          <img src="./assets/svg/nav-arrow.svg" width="60%" alt="" />
        </span>
      </div>
    </section>
  </div>
</div>

<!-- <app-footer></app-footer> -->
