@import '../../../styles/scss/variables';
@import '../../../styles/scss/mixins';
@import '../../../styles/scss/container';

.studio_accordion{
    display: grid;
    grid-template-columns: 20% 1fr;
    background: url(../../../assets/img/bg.png);
}

.nav_list{
    position: fixed;
    top: 200px;
    left: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: left;
    a{
        font-size: 18px;
        font-weight: 100;
        text-transform: uppercase;
        color: #9a9a9a;
        text-decoration: none;
        &.active{
            color: #000;
            font-weight: 400;
        }
    }
}

  section {
    //height: 100vh;
    height: auto;
    padding: 100px 20px;
    margin-top: 60px;
    margin-bottom: 200px;
    h3{
        @include heading;
        text-align: left;
        padding-bottom: 30px;
    }
    p{
        @include sub_text;
        text-align: left;
        padding-bottom: 30px;
    }
  }
  

