// @font-face {
//     font-family: "Rollgates Luxury";
//     src: url(../fonts/RollgatesLuxury/RollgatesLuxury.otf) format("opentype");
// }

// @font-face {
//     font-family: "Helvetica Neue";
//     src: url(../fonts/helvetica-neue-5/HelveticaNeueRoman.otf) format("opentype");
// }
// @font-face {
//     font-family: "Helvetica Neue";
//     src: url(../fonts/helvetica-neue-5/HelveticaNeueLight.otf) format("opentype");
// }
// @font-face {
//     font-family: "Helvetica Neue";
//     src: url(../fonts/helvetica-neue-5/HelveticaNeueThin.otf) format("opentype");
// }

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@font-face {
  font-family: "Helvetica-regular";
  font-style: normal;
  font-weight: normal;
  src: url("helvetica/helvetica_neue_medium_extended-webfont.eot") format("eot"),
    url("helvetica/helvetica_neue_medium_extended-webfont.woff2")
      format("woff2"),
    url("helvetica/helvetica_neue_medium_extended-webfont.woff") format("woff"),
    url("helvetica/helvetica_neue_medium_extended-webfont.ttf")
      format("truetype"),
    url("helvetica/helvetica_neue_medium_extended-webfont.svg") format("svg");
}
@font-face {
  font-family: "Helvetica-medium";
  font-style: normal;
  font-weight: normal;
  src: url("helvetica/helvetica_neue_w01_66_medium_it-webfont.eot")
      format("eot"),
    url("helvetica/helvetica_neue_w01_66_medium_it-webfont.woff2")
      format("woff2"),
    url("helvetica/helvetica_neue_w01_66_medium_it-webfont.woff") format("woff"),
    url("helvetica/helvetica_neue_w01_66_medium_it-webfont.ttf")
      format("truetype"),
    url("helvetica/helvetica_neue_w01_66_medium_it-webfont.svg") format("svg");
}

@font-face {
  font-family: "Helvetica-ultralight";
  font-style: normal;
  font-weight: normal;
  src: url("helvetica/helvetica_neue_ultralight-webfont.eot") format("eot"),
    url("helvetica/helvetica_neue_ultralight-webfont.woff2") format("woff2"),
    url("helvetica/helvetica_neue_ultralight-webfont.woff") format("woff"),
    url("helvetica/helvetica_neue_ultralight-webfont.ttf") format("truetype"),
    url("helvetica/helvetica_neue_ultralight-webfont.svg") format("svg");
}
@font-face {
  font-family: "Helvetica-bold-italic";
  font-style: normal;
  font-weight: normal;
  src: url("helvetica/helvetica_neueltw0693blkextobl-webfont.eot") format("eot"),
    url("helvetica/helvetica_neueltw0693blkextobl-webfont.woff2")
      format("woff2"),
    url("helvetica/helvetica_neueltw0693blkextobl-webfont.woff") format("woff"),
    url("helvetica/helvetica_neueltw0693blkextobl-webfont.ttf")
      format("truetype"),
    url("helvetica/helvetica_neueltw0693blkextobl-webfont.svg") format("svg");
}
