<!-- Header Section -->
<header class="header" id="header">
  <nav class="navbar container">
    <a href="#" class="brand"
      ><img src="./assets/svg/DU-logo.svg" alt="Design Unity"
    /></a>
    <div
      class="burger"
      id="burger"
      (click)="open = !open"
      [ngClass]="open ? 'active' : ''"
    >
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </div>
    <div class="dropmenu" *ngIf="open" [@dropDownMenu]>
      <ul class="menu-inner">
        <li class="menu-item" (click)="open = false">
          <div class="menu-item__pointer"><span></span></div>
          <a routerLink="/about" class="menu-link">About Us</a>
        </li>
        <li class="menu-item">
          <span> </span
          ><a (click)="toggleDropdown()" class="menu-link">Solutions</a>
          <div class="menu-item__sub" *ngIf="isExpanded">
            <p
              (click)="open = false"
              routerLink="solutions/venetian-plaster-finishes"
            >
              Venetian Plasters
            </p>
            <p (click)="open = false" routerLink="solutions/seamless-flooring">
              Seamless Flooring
            </p>
          </div>
        </li>
        <li class="menu-item" (click)="open = false">
          <span> </span>
          <a routerLink="/portfolio" class="menu-link">Portfolio</a>
        </li>
        <li class="menu-item" (click)="open = false">
          <span> </span>
          <a routerLink="/surface-studio" class="menu-link">Sufrace Studio</a>
        </li>
        <li class="menu-item" (click)="open = false">
          <span> </span>
          <a routerLink="/blogs" class="menu-link"> Blog </a>
        </li>
        <li class="menu-item" (click)="open = false">
          <span> </span
          ><a routerLink="/contact-us" class="menu-link">Contact</a>
        </li>
      </ul>
    </div>

    <div class="navbar__menu">
      <ul class="menu-inner">
        <li class="menu-item" routerLink="/about-us">
          <div class="menu-item__pointer">
            <span class="aboutUs"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a routerLink="/about" class="menu-link">About Us</a>
        </li>
        <li class="menu-item solutions" (mouseenter)="mouseEnter('in')">
          <div class="menu-item__pointer">
            <span class="solutions"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a class="menu-link">Solutions</a>
          <div class="popup">
            <div class="popup__content">
              <ul>
                <li
                  [ngClass]="{ active: activeItem == 1 }"
                  (mouseenter)="selectMenu(1)"
                  routerLink="solutions/venetian-plaster-finishes"
                >
                  Venetian Plasters
                </li>
                <li
                  [ngClass]="{ active: activeItem == 2 }"
                  (mouseenter)="selectMenu(2)"
                  routerLink="solutions/seamless-flooring"
                >
                  Seamless Flooring
                </li>
              </ul>
              <div class="popup__content--imgs">
                <img
                  [src]="
                    '../../../assets/img/solutions/' +
                    (activeItem === 1
                      ? 'solution-menu-1.png'
                      : 'solution-menu-2.jpg')
                  "
                  alt="image1"
                />
                <!-- <img
                  src="../../../assets/img/solutions/solution-menu-2.png"
                  alt="image1"
                  [ngClass]="{ active: activeItem == 2 }"
                  (mouseenter)="selectMenu(2)"
                /> -->
              </div>
            </div>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-item__pointer">
            <span class="portFolio"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a routerLink="/portfolio" class="menu-link">Portfolio</a>
        </li>
        <li class="menu-item">
          <div class="menu-item__pointer">
            <span class="studio"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a routerLink="/surface-studio" class="menu-link">Surface Studio</a>
        </li>
        <li class="menu-item">
          <div class="menu-item__pointer">
            <span class="contactUs"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a routerLink="/blogs" class="menu-link"> Blog </a>
        </li>
        <li class="menu-item">
          <div class="menu-item__pointer">
            <span class="contactUs"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a routerLink="/contact-us" class="menu-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Main Section -->
