<!-- Header Section -->
<header class="header" id="header">
  <nav class="navbar container">
    <a href="#" class="brand"
      ><img src="./assets/svg/DU-logo.svg" alt="Design Unity"
    /></a>
    <div
      class="burger"
      id="burger"
      (click)="open = !open"
      [ngClass]="open ? 'active' : ''"
    >
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </div>
    <div class="dropmenu" *ngIf="open" [@dropDownMenu]>
      <ul class="menu-inner">
        <li class="menu-item" (click)="open = false">
          <div class="menu-item__pointer"><span></span></div>
          <a href="#aboutUs" class="menu-link">About Us</a>
        </li>
        <li class="menu-item" (click)="open = false">
          <span> </span><a href="#" class="menu-link">Solutions</a>
        </li>
        <li class="menu-item" (click)="open = false">
          <span> </span>
          <a routerLink="/portfolio" class="menu-link">Portfolio</a>
        </li>
        <li class="menu-item" (click)="open = false">
          <span> </span>
          <a href="#" class="menu-link">Surfrace Studio</a>
        </li>
        <li class="menu-item" (click)="open = false">
          <span> </span><a href="#" class="menu-link">Contact</a>
        </li>
      </ul>
    </div>

    <div class="navbar__menu">
      <ul class="menu-inner">
        <li class="menu-item" routerLink="/aboutUs">
          <div class="menu-item__pointer">
            <span class="aboutUs"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a class="menu-link">About Us</a>
        </li>
        <li class="menu-item solutions" (mouseenter)="mouseEnter('in')">
          <div class="menu-item__pointer">
            <span class="solutions"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a href="#" class="menu-link">Solutions</a>
          <div class="popup">
            <div class="popup__content">
              <ul>
                <li
                  [ngClass]="{ active: activeItem == '1' }"
                  (mouseenter)="selectMenu(1)"
                  routerLink="/venetian_plasters"
                >
                  Venetian Plasters
                </li>
                <li
                  [ngClass]="{ active: activeItem == '2' }"
                  (mouseenter)="selectMenu(2)"
                  routerLink="/flooring"
                >
                  Seamless Flooring
                </li>
              </ul>
              <div class="popup__content--imgs">
                <img
                  src="../../../assets/img/solutions/solution-menu-1.png"
                  alt="image1"
                  [ngClass]="{ active: activeItem == '1' }"
                  (mouseenter)="selectMenu(1)"
                />
                <img
                  src="../../../assets/img/solutions/solution-menu-2.png"
                  alt="image1"
                  [ngClass]="{ active: activeItem == '2' }"
                  (mouseenter)="selectMenu(2)"
                />
              </div>
            </div>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-item__pointer">
            <span class="portFolio"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a routerLink="/portfolio" class="menu-link">Portfolio</a>
        </li>
        <li class="menu-item">
          <div class="menu-item__pointer">
            <span class="studio"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a routerLink="/surface" class="menu-link">Surface Studio</a>
        </li>
        <li class="menu-item">
          <div class="menu-item__pointer">
            <span class="contactUs"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </div>
          <a href="#" class="menu-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Main Section -->
