<div class="section bg-green">
  <div class="container">
    <div class="flooring_section">
      <h1 class="heading semi-header">Flooring</h1>
      <div class="flooring_details">
        <div class="flooring_details_left">
          <p class="paragraph">
            Stylish, durable, and high-performing flooring is a trademark at
            Design Unity. We offer a verity of flooring options for residential
            and commercial purposes. We operate through vertical integration
            ensuring that our clients receive the complete benefit of our
            world-class services. From design to distribution, we offer
            end-to-end services to provide desired outcomes. Our dedication to
            deliver the best is reflected in the material integrity, quality
            control and cost management.
          </p>

          <button class="button" routerLink="/flooring">
            Know More <img src="./assets/svg/arrow.svg" alt="" />
          </button>
        </div>

        <div class="flooring_details_right">
          <img src="../../assets/img/flooring.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
