<div class="rewards_program">
    <div class="container">

        <div class="logo">
            <img src="../../../assets/svg/DU-logo.svg" />
        </div>
        
        <div class="rewards_program-banner">
            <h1> Rewards Beyond <br />Your Imagination</h1>
            <p> "Bringing Timeless <br /> Craftsmanship to Life" </p>
        </div>

        <div class="rewards_program-form_content">
            <div class="form_content">
                <h1> Left content </h1>
            </div>
            <div class="form_connect">
                
            </div>
        </div>

        <div class="footer">
            <div class="footer-address">

            </div>
            <div class="footer-social">

            </div>
        </div>

    </div>

</div>

