@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixins";
@import "../../../styles/scss/container";

.rewards {
  &__header {
    height: 80vh;
    //background-image: url("../../../assets/img/about-bg.png");
    background-color: #002d00;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 100px;
    background-position: top right;
    background-size: cover;
    h1 {
      padding-top: 100px;
      @include page-header();
      font-weight: 100;
      color: #fff;
      letter-spacing: 2px;
    }
    p {
        font-size: clamp(12px, 5.5vw, 30px);
        font-weight: 100;
        color: #fff;
        letter-spacing: 2px;
      }
    @media (max-width: 1200px) {
      height: 65vh;
      padding-left: 70px;
      h2 {
        padding-top: 50px;
        font-weight: 400;
      }
    }
    @media (max-width: 550px) {
      height: 35vh;
      padding-left: 30px;
      h2 {
        padding-top: 50px;
        font-weight: 600;
      }
    }
  }
  &__content {
    background: #f6f1eb url(../../../assets/img/bg.png) no-repeat center center;
    background-size: cover;
    padding: clamp(20px, 5.5vh, 100px) clamp(15px, 5vh, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 900px) {
      padding: 16px;
    }
    &--content {
      max-width: 1440px;
      padding-top: 80px;
      padding-bottom: 80px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(10px, 3.5vh, 60px);
      @media (max-width: 900px) {
        gap: 10px !important;
        align-items: start;
      }
      
      ul li {
        font-size: clamp(12px, 5.5vw, 25px);
        font-weight: 100;
      }
    }
  }







  .contact {
    &__body {
      padding: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
      min-height: 700px;
      .semi-header {
        padding: 25px 0;
      }
      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        grid-template-rows: 600px 950px;
      }
      @media (max-width: 900px) {
        padding: 16px;
        grid-template-columns: 1fr;
        grid-template-rows: 1050px 600px;
      }
    }
  }

  .tabs {
    display: grid;
    grid-template-rows: auto auto 1fr;
    @media (max-width: 1000px) {
      grid-row: 2;
    }
    &__titles {
      list-style: none;
      li {
      padding: 10px 35px;
      font-size: 22px;
      line-height: 40px;
      letter-spacing: 2px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      padding-left: 20px;
      font-weight: 100;
      font-family: 'Tenor_Sans';
      max-width: 1440px;
      margin: 0 auto;
      
        &::before {
          content: '>';
          position: absolute;
          margin-left: -25px;
        }
      }
    }
    &__content {
      height: 100%;
      .maps {
        height: 100%;
        position: relative;
        &__info {
          position: absolute;
          top: 0px;
          right: 0px;
          left: 0;
          z-index: 1;
          height: 170px;
          padding: 15px;
          border-radius: 0;
          background-color: #fffdf7;
          justify-content: center;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          @media (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
          }
          .address {
            padding-left: 10px;
          }
          .mail,
          .address,
          .mobile {
            display: grid;
            justify-content: center;
            grid-template-columns: auto auto;
            gap: 16px;
            align-items: center;
            p {
              font-size: 14px;
              line-height: 1.5em;
              @media (max-width: 700px) {
                font-size: 10px;
              }
            }
          }
        }
      }
      
    }
  }








  .d-grid {
    display: grid;
    align-items: center;
  }
  .foot-contianer {
    display: block;
    width: 100%;
    position: relative;
    background: rgb(53,78,55);
  background: -moz-linear-gradient(153deg, rgba(53,78,55,1) 0%, rgba(27,40,27,1) 100%);
  background: -webkit-linear-gradient(153deg, rgba(53,78,55,1) 0%, rgba(27,40,27,1) 100%);
  background: linear-gradient(153deg, rgba(53,78,55,1) 0%, rgba(27,40,27,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#354e37",endColorstr="#1b281b",GradientType=1);
    display: grid;
    position: relative;
    overflow: hidden;

  }
  .footer {
    background-repeat: no-repeat;
    padding: 60px 24px;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    z-index: 2;
    //font-size: 18px;
    font-size: clamp(0.7rem, -0.875rem + 3.4vw, 1.2rem);
    color: #ffffff;
    line-height: 1.5em;
    margin: 0 auto;
    @media (max-width: 900px) {
      padding: 16px;
      gap: 15px;
    }
  }

  .footer__address {
    .max-400 {
      max-width: 450px;
    }
    .pt-5 {
      // padding-top: 30px;
      a {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
      }
    }

    h3 {
      margin-bottom: 20px;
      text-transform: uppercase;
      color: #ffffff;

      span {
        position: relative;
        font-family: "Tenor_Sans";
        &::after {
          position: absolute;
          bottom: -10px;
          content: "";
          left: 0;
          width: 110%;
          border-bottom: 1px solid #adadac;
        }
      }
    }
    &.menu {
      h3 {
        margin-bottom: 10px;
      }
    }
    .actionList {
      list-style-type: none;
      padding: 0;
      li {
        padding: 6px 0 !important;
        a {
          text-decoration: none;
          color: #ffffff;
          &:hover {
            color: #723c0d;
          }
        }
      }
      @media (max-width: 900px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        li {
          padding: 0;
        }
      }
    }
    .actionList__social {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 20px;
      justify-content: flex-end;
      list-style-type: none;
      color:#fff;
      li a {
        width: 44px;
        height: 44px;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img{
          filter: brightness(0) invert(1);
        }
      }
    }
    @media (max-width: 900px) {
      .actionList__social {
        gap: 0;
      }
      h3 {
        margin: 0;
        span {
          &::after {
            display: none;
          }
        }
      }
      .max-400 {
        line-height: 1.5;
      }
    }
  }

  .foot-copyright {
    z-index: 6;
    padding: 10px 20px;
    border-top: 1px solid #d4cfcb;
    display: grid;
    font-size: 12px;
    grid-template-columns: min-content min-content;
    row-gap: 10px;
    white-space: nowrap;
    gap: 90px;
    color:#fff;
    @media (max-width: 500px) {
      gap: 10px;
    }
    .terms {
      display: grid;
      grid-template-columns: auto auto;
      font-size: 12px;
      gap: 20px;
      a {
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: #723c0d;
        }
      }
    }
    .copyright {
      font-size: 10px;
    }
    @media (max-width: 700px) {
      padding: 10px 20px;
      a {
        font-size: 8px;
      }
      .copyright {
        font-size: 8px;
      }
    }
    @media (max-width: 400px) {
      padding: 10px;
      grid-template-columns: 1fr;
    }
  }

  .logoSVG {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    path {
      fill: #fff;
    }
    @media (max-width: 800px) {
      width: 90px;
    }
  }
  .container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    z-index: 3;
    position: relative;
  }
  .br-top {
    border-top: 1px solid black;
  }
  .media {
    display: grid;
    grid-template-rows: auto auto;
    h2 {
      display: grid;
      margin: 0;
      justify-content: flex-end;
      @media (max-width: 899px) {
        justify-content: flex-start;
        padding-bottom: 15px;
      }
    }
  }
  @media (max-width: 899px) {
    .media {
      grid-column: 1 / -1;
    }
    .footer__address .actionList__social {
      grid-template-columns: repeat(auto-fit, minmax(50px, auto));
      justify-content: center;
      @media (max-width: 899px) {
        justify-content: flex-start;
      }
    }
  }   

 
}

