<div class="rewards">
    <div class="rewards__header">
        <h1> Rewards Beyond <br />Your Imagination</h1>
        <p> "Bringing Timeless <br /> Craftsmanship to Life" </p>
    </div>
    <div class="rewards__content">
      <div class="rewards__content--content">
        <div>
            <h2 class="semi-header"> Ways We Make a Difference </h2>
            <p class="paragraph">
            We are a one-of-a-kind, supply & apply partner of high-end Venetian
            plaster finishes that elevate your residential and commercial spaces. We
            provide customised solutions that bring your dreams and vision to life,
            with a commitment to craftsmanship and an unparalleled selection of
            eco-friendly, luxurious finishes that last a lifetime.
            </p>
            <p class="paragraph">
            Our products, imported from Italy, and expert micro-applicators with
            years of training directly from Italian experts combine professional
            techniques with modern innovation to offer timeless elegance,
            durability, and an exquisite tactile experience. Trusted by leading
            architects, designers, developers, and modern homeowners, we provide a
            complete range of services from space evaluation, product and finish
            selection to application, ensuring exceptional results every time, on
            time.
            </p>
        </div>
        <div>
            <iframe aria-label='QR Code Form' frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.in/designumbraprivatelimited1/form/ContactUs/formperma/_uJbwFAMvWci-ThSSQvjqRgzkfxCz078LR-oRHZb_dE'></iframe>
        </div>
        
      </div>
    </div>

    <div class="rewards__footer">
        <div class="footer__address">

        </div>
        <div class="footer__social">

        </div>
    </div>
    
  </div>  


