<div class="rewards">
  <div class="rewards__logo">
    <img src="../../../assets/svg/DUClogo.svg" />
  </div>
    <div class="rewards__header">
        <h1> Rewards Beyond <br />Your Imagination</h1>
        <p> "Bringing Timeless <br /> Craftsmanship to Life" </p>
    </div>
    <div class="contact__body">
      <div class="tabs">
        <h2 class="semi-header"> Ways We Make a Difference </h2>
       
  
        <!-- Tab content -->
        <div class="tabs__content">

          <ul class="tabs__titles">
            <li> Imported Plaster Finishes </li>
            <li> Skilled Applicators for Impeccable Execution </li>
            <li> Bespoke Solutions for Luxury Projects </li>
            <li> Tailored Service for Exceptional Delivery </li>
            <li> Eco-Friendly Luxury, Lasting Impact </li>
          </ul>
          <h2 class="semi-header"> Maximise Your Benefits with Design Unity's Exclusive Rewards! </h2>
          
        </div>
      </div>
  
      <div class="contact__form">
        <h2 class="semi-header">Let's Connect</h2>
        <iframe aria-label='QR Code Form' frameborder="0" style="height:650px;width:99%;border:none;" src='https://forms.zohopublic.in/designumbraprivatelimited1/form/ContactUs/formperma/_uJbwFAMvWci-ThSSQvjqRgzkfxCz078LR-oRHZb_dE'></iframe>
        
      </div>
    </div>
    
    <div class="foot-contianer">
      <div class="container">
        <div class="footer">
          <div class="footer__address">
            <h3><span>Design Unity</span></h3>
    
            <p class="max-400">
              Designumbra Private Limited
              <br />
              10th floor, Techno 1, Opposite KIMS Hospital, Raidurgam, Hyderabad –
              500 081
            </p>
            <br />
            <p class="pt-5">
              E:
              <a href="mailto: info@designunity.com"> info&#64;designunity.com</a>
            </p>
            <p class="pt-5">
              P:
              8448448669 / 9100115203 /<br />
            7032220945 / 8978625341 
            </p>
          </div>
          <div class="footer__address menu">
           
          </div>
          <div class="footer__address d-grid media">
            
            <ul class="actionList__social">
              <li>
                <a
                  href=" https://www.linkedin.com/company/designunity/posts/?feedView=all"
                  target="_blank"
                  ><img src="../../../assets/img/linkedin.svg" alt="linkedin"
                /></a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/designunityofficial"
                  target="_blank"
                  ><img src="../../../assets/img/facebook.svg" alt="Facebook"
                /></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/designunityofficial/"
                  target="_blank"
                  ><img src="../../../assets/img/instagram.svg" alt="Instagram"
                /></a>
              </li>
              <!-- <li>
                <a href="#" target="_blank"
                  ><img src="../../../assets/img/twitter.svg" alt="Twitter"
                /></a>
              </li> -->
              <li>
                <a href="https://www.youtube.com/@designunityIndia" target="_blank"
                  ><img src="../../../assets/img/youtube.svg" alt="Youtube"
                /></a>
              </li>
              <li>
                <a
                  href="https://www.pinterest.com/designunityofficial/"
                  target="_blank"
                  ><img src="../../../assets/img/pinterest.svg" alt="Pinterest"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="container foot-copyright">
        <div class="terms">
          <a routerLink="/privacy_policy">Privacy Policy</a>
          <a routerLink="/terms_conditions">Terms and Conditions</a>
        </div>
        <div class="">
          <div class="copyright">© DESIGNUMBRA Pvt. Ltd . ALL RIGHTS RESERVED</div>
        </div>
      </div>
    </div>
    
  </div>  


