<div class="modal_container" *ngIf="isModalOpen">
    <div class="modal_content">
        
        <div class="modal_content_close">
            <span class="close" (click)="closeModal()">&times;</span>
        </div>

        <app-popup-slider></app-popup-slider>
        
    </div>
</div>

<div class="button_div"  (click)="openModal()">
    <a class="menu-link"> View All </a>
    <span class="pointer">
      <img src="./assets/svg/nav-arrow.svg" width="60%" />
    </span>
</div>



<!-- <div class="modal_main">
    <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
            <div class="modal__content__main">
                <div class="left-content">
                    
                </div>
                <div class="right-content">
                    <div class="right-content__text">
                        <h1> What will you see </h1>
                        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure nostrum similique hic magni culpa at neque repudiandae deleniti ratione temporibus, fugit voluptates et beatae corporis saepe cum. Et, alias amet. </p>
                    </div>
                </div>
            </div>
            <span class="close" (click)="closeModal()">&times;</span>
        </div>
    </div>
</div> -->

