<div class="modal_container" *ngIf="isModalOpen">
    <div class="modal_content">
        
        <div class="modal_content_close">
            <span class="close" (click)="closeModal()">&times;</span>
        </div>

        <app-popup-slider [currentSlides]="currentSlides"></app-popup-slider>
        
    </div>
</div>

<div class="button_div"  (click)="openModal();">
    <a class="menu-link"> View All </a>
    <span class="pointer">
      <img src="./assets/svg/nav-arrow.svg" width="60%" />
    </span>
</div>



