
<div class="section">
    <div class="container">
        <h1 class="heading">Walls & Seilings</h1>
        
<section class="holder">

    <article class="holder__item bg-3 " id="parallax" style="--t:5; background: url('../../../assets/img/wallCeilings/designerSignature.jpg') no-repeat top center ; background-size: cover;">
        <h1 class="title">Designer / Signature</h1>
        <div><button>Know More <img src="../../../assets/svg/arrow.svg" alt="" /></button></div>
        </article>
        
    <!-- <header class="holder__head bg-2" style="--t:3; --b:3;">3 STEP &mdash; FINE-TUNING YOUR CONTENT</header> -->
    <article class="holder__item bg-3 " id="parallax" style="--t:5; background: url('../../../assets/img/wallCeilings/limeLuxurySeries.jpg') no-repeat top center ; background-size: cover;">
    <h1 class="title">Lime & Luxury Series</h1>
    <div><button>Know More <img src="../../../assets/svg/arrow.svg" alt="" /></button></div>
    </article>
  
    <!-- <header class="holder__head bg-2" style="--t:5; --b:2;">3 STEP &mdash; FINE-TUNING YOUR CONTENT</header> -->

    <article class="holder__item bg-0 " style="--t:5; --b:2; background: url('../../../assets/img/wallCeilings/metallicSeries.jpg') no-repeat top center ; background-size: cover;">
        <h1 class="title">Metallic Series</h1>
        <div><button>Know More <img src="../../../assets/svg/arrow.svg" alt="" /></button></div>
    </article>
  
    <!-- <header class="holder__head bg-2" style="--t:5; --b:1;">3 STEP &mdash; FINE-TUNING YOUR CONTENT</header> -->

    <article class="holder__item bg-2" style="--t:5;  background: url('../../../assets/img/wallCeilings/marmorinoSeries.jpg') no-repeat top center ; background-size: cover;">
        <h1 class="title">Marmorino Series</h1>
        <div><button>Know More <img src="../../../assets/svg/arrow.svg" alt="" /></button></div>
    </article>
  
    <!-- <header class="holder__head bg-2" style="--t:5; --b:0;">3 STEP &mdash; FINE-TUNING YOUR CONTENT</header> -->

    <article class="holder__item bg-1" style="--t:5;  background: url('../../../assets/img/wallCeilings/cementSeries.jpg') no-repeat top center ; background-size: cover;">
        <h1 class="title">Cement series</h1>
        <div><button>Know More <img src="../../../assets/svg/arrow.svg" alt="" /></button></div>
    </article>
  
  </section>
    </div>
</div>