<div class="section">
  <h1 class="heading semi-header">Walls & Ceiling</h1>
  <div>
    <div class="container">
      <div class="card one">
        <div class="card__header">Designer / Signature Series</div>
        <div class="card__body">
          <p>
            Exclusive, statement-making finishes from the other face of the
            world that turn walls and ceilings into works of art.
          </p>
        </div>
      </div>
      <div class="card two">
        <div class="card__header">Lime & Luxury Series</div>
        <div class="card__body">
          <p>
            A perfect blend of traditional Venetian plaster and marble powders
            with luxurious, smooth textures and finishes that enrich any space
            with magnificence.
          </p>
        </div>
      </div>
      <div class="card three">
        <div class="card__header">Metallic Series</div>
        <div class="card__body">
          <p>
            Contemporary finishes of glamour with radiant, reflective surfaces.
            Smooth and textured finishes add depth and intensity to interiors,
            creating a sense of surreality.
          </p>
        </div>
      </div>
      <div class="card four">
        <div class="card__header">Marmorino Series</div>
        <div class="card__body">
          <p>
            Inspired by the classic Italian Renaissance style, Marmorino creates
            a polished, marble effect, adding depth and richness to any room in
            the matte to high-gloss range.
          </p>
        </div>
      </div>
      <div class="card five">
        <div class="card__header">Cement Series</div>
        <div class="card__body">
          <p>
            Natural stone-like finish, giving walls and ceilings a textured,
            earthy appeal for a rustic yet refined aesthetic, ranging from
            polished to highly textured.
          </p>
        </div>
        <div class="card__footer">
          <button class="button" routerLink="solutions/venetian-plaster-finishes">
            Know More
            <img src="./assets/svg/arrow.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="false">
    <h1 class="heading">Walls & Seilings</h1>

    <section class="holder">
      <article
        class="holder__item bg-3"
        id="parallax"
        style="
          --t: 5;
          background: url('../../../assets/img/wallCeilings/designerSignature.jpg')
            no-repeat top center;
          background-size: cover;
        "
      >
        <h1 class="title">Designer / Signature</h1>
        <div>
          <button>
            Know More <img src="../../../assets/svg/arrow.svg" alt="" />
          </button>
        </div>
      </article>

      <!-- <header class="holder__head bg-2" style="--t:3; --b:3;">3 STEP &mdash; FINE-TUNING YOUR CONTENT</header> -->
      <article
        class="holder__item bg-3"
        id="parallax"
        style="
          --t: 5;
          background: url('../../../assets/img/wallCeilings/limeLuxurySeries.jpg')
            no-repeat top center;
          background-size: cover;
        "
      >
        <h1 class="title">Lime & Luxury Series</h1>
        <div>
          <button>
            Know More <img src="../../../assets/svg/arrow.svg" alt="" />
          </button>
        </div>
      </article>

      <!-- <header class="holder__head bg-2" style="--t:5; --b:2;">3 STEP &mdash; FINE-TUNING YOUR CONTENT</header> -->

      <article
        class="holder__item bg-0"
        style="
          --t: 5;
          --b: 2;
          background: url('../../../assets/img/wallCeilings/metallicSeries.jpg')
            no-repeat top center;
          background-size: cover;
        "
      >
        <h1 class="title">Metallic Series</h1>
        <div>
          <button>
            Know More <img src="../../../assets/svg/arrow.svg" alt="" />
          </button>
        </div>
      </article>

      <!-- <header class="holder__head bg-2" style="--t:5; --b:1;">3 STEP &mdash; FINE-TUNING YOUR CONTENT</header> -->

      <article
        class="holder__item bg-2"
        style="
          --t: 5;
          background: url('../../../assets/img/wallCeilings/marmorinoSeries.jpg')
            no-repeat top center;
          background-size: cover;
        "
      >
        <h1 class="title">Cement series</h1>
        <div>
          <button>
            Know More <img src="../../../assets/svg/arrow.svg" alt="" />
          </button>
        </div>
      </article>

      <!-- <header class="holder__head bg-2" style="--t:5; --b:0;">3 STEP &mdash; FINE-TUNING YOUR CONTENT</header> -->

      <article
        class="holder__item bg-1"
        style="
          --t: 5;
          background: url('../../../assets/img/wallCeilings/cementSeries.jpg')
            no-repeat top center;
          background-size: cover;
        "
      >
        <h1 class="title">Cement series</h1>
        <div>
          <button>
            Know More <img src="../../../assets/svg/arrow.svg" alt="" />
          </button>
        </div>
      </article>
    </section>
  </div>
</div>
