<div class="section bg-green">
  <div class="container">
    <div class="featuresSec">
      <h1 class="heading">Features</h1>
      <div class="featuresSec__items">
        <div class="featItem">
          <div class="featItem_1">
            <div class="feature-figure">
              <img
                src="../../assets/img/features/DSC01127.png"
                width="100%"
                alt=" Green Certified Product "
              />
            </div>
            <div class="figure-details">
              <img
                src="../../assets/img/features/Group1343.svg"
                alt="Low VOC"
              />
              <h4>Zero VOC</h4>
              <p class="paragraph">
                Breathe easy with our non-toxic, zero-VOC finishes
              </p>
            </div>
          </div>
        </div>
        <div class="featItem">
          <div class="featItem_1">
            <div class="feature-figure">
              <img
                src="../../assets/img/features/DSC01005.png"
                width="100%"
                alt=" Green Certified Product "
              />
            </div>
            <div class="figure-details">
              <img src="../../assets/img/features/Group5.svg" alt="Low VOC" />
              <h4>Green Certified</h4>
              <p class="paragraph">Eco-friendly, kind to the environment</p>
            </div>
          </div>
        </div>
        <div class="featItem">
          <div class="featItem_1">
            <div class="feature-figure">
              <img
                src="../../assets/img/features/DSC01116.png"
                width="100%"
                alt=" Green Certified Product "
              />
            </div>
            <div class="figure-details">
              <img
                src="../../assets/img/features/Group1342.svg"
                alt="Low VOC"
              />
              <h4>Crack-Resistant</h4>
              <p class="paragraph">Engineered for long-lasting durability</p>
            </div>
          </div>
        </div>
        <div class="featItem">
          <div class="featItem_1">
            <div class="feature-figure">
              <img
                src="../../assets/img/features/DSC01111.png"
                width="100%"
                alt=" Green Certified Product "
              />
            </div>
            <div class="figure-details">
              <img
                src="../../assets/img/features/Group1344.svg"
                alt="Low VOC"
              />
              <h4>Antibacterial & Antifungal</h4>
              <p class="paragraph">
                Designed to keep the environment clean and safe, with built-in
                resistance
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
