
<div class="features_section">
    <h1 class="heading"> Features </h1>
    <div class="features_details">
        <div class="features_details_left"> 
            <div>
                <img src="../../assets/img/features/DSC01127.png" alt="">
                <h3> 
                    <img src="../../assets/img/features/Group1343.svg" alt="Low VOC"> 
                    <span> Zero VOC </span> 
                </h3>
            </div>
            <div>
                <img src="../../assets/img/features/DSC01005.png" alt="">
                <h3> 
                    <img src="../../assets/img/features/Group1342.svg" alt="Low VOC"> 
                    <span> Anti Crack </span> 
                </h3>
            </div>
        </div>
       <div class="features_details_right">
            <div>
                <img src="../../assets/img/features/DSC01116.png" alt="">
                <h3> 
                    <img src="../../assets/img/features/Group5.svg" alt="Low VOC"> 
                    <span> Green Certified Product </span> 
                </h3>
            </div>
            <div>
                <img src="../../assets/img/features/DSC01111.png" alt="">
                <h3> 
                    <img src="../../assets/img/features/Group1344.svg" alt="Low VOC"> 
                    <span> Anti Bacterial / Fungal </span> 
                </h3>
            </div>
       </div>

    </div>

</div>


