<div class="privacy">
  <div class="privacy__banner">
    <h2>Privacy Policy</h2>
  </div>
  <div class="privacy__content">
    <div class="privacy__card">
      <h3 class="semi-header">
        Privacy Policy for Design Umbra India Private Limited
      </h3>
      <p class="paragraph">
        At DesignUnity, accessible from www.designunity.com, one of our main
        priorities is the privacy of our visitors. This Privacy Policy document
        outlines the types of information we collect, how we use it, and the
        measures we take to protect your privacy.
      </p>
      <p class="paragraph">
        If you have any questions or require further information about our
        Privacy Policy, feel free to contact us.
      </p>
      <p class="paragraph">
        This Privacy Policy applies only to online activities and is valid for
        visitors to our website. It pertains to information that is shared
        and/or collected through our website and does not apply to information
        collected offline or through other channels.
      </p>
      <h3 class="semi-header">Consent</h3>
      <p class="paragraph">
        By using our website, you consent to our Privacy Policy and agree to its
        terms.
      </p>
      <h3 class="semi-header">Information We Collect</h3>
      <p class="paragraph">
        We collect personal information that you provide to us, and we will
        clearly explain the reasons why we request such information.
      </p>
      <p class="paragraph">
        If you contact us directly, we may receive additional information such
        as your name, email address, phone number, message content, and any
        attachments you may send.
      </p>
      <p class="paragraph">
        When registering for an account, we may ask for your contact
        information, including your name, company name, address, email address,
        and telephone number.
      </p>
      <h3 class="semi-header">How We Use Your Information</h3>
      <p class="paragraph">
        We use the information we collect for various purposes, including:
      </p>
      <ul>
        <li>To operate, maintain, and provide our website and services</li>
        <li>To improve, personalize, and expand our website and services</li>
        <li>To understand and analyze how you use our website</li>
        <li>To develop new features, services, and functionality</li>
        <li>
          To communicate with you, including for customer service, updates, and
          promotional purposes
        </li>
        <li>To operate, maintain, and provide our website and services</li>
        <li>To prevent and detect fraud</li>
      </ul>
      <h3 class="semi-header">Log Files</h3>
      <p class="paragraph">
        DesignUnity follows standard procedures by using log files. These files
        log visitors when they visit our website and are a part of hosting
        services’ analytics. The information collected in log files includes
        internet protocol (IP) addresses, browser type, Internet Service
        Provider (ISP), date and time stamps, referring/exit pages, and the
        number of clicks. These do not include personally identifiable
        information and are used for analyzing trends, administering the site,
        tracking user activity, and gathering demographic data.
      </p>
      <h3 class="semi-header">Advertising Partners’ Privacy Policies</h3>
      <p class="paragraph">
        You may refer to the Privacy Policy of each advertising partner of
        DesignUnity to understand their practices.
      </p>
      <p class="paragraph">
        Third-party ad servers or networks use technologies such as cookies,
        JavaScript, or Web Beacons in their ads and links on DesignUnity, which
        are sent directly to your browser. They automatically receive your IP
        address when this happens. These technologies help measure the
        effectiveness of their ads and/or personalize the advertising content
        you see across websites.
      </p>
      <p class="paragraph">
        DesignUnity has no access to or control over the cookies used by
        third-party advertisers.
      </p>
      <h3 class="semi-header">Third-Party Privacy Policies</h3>
      <p class="paragraph">
        DesignUnity’s Privacy Policy does not apply to other advertisers or
        websites. We encourage you to review the Privacy Policies of these
        third-party ad servers for more detailed information, including how to
        opt out of certain options.
      </p>
      <p class="paragraph">
        You can choose to disable cookies through your individual browser
        options. For more detailed information about cookie management with
        specific browsers, please refer to their respective websites.
      </p>
      <h3 class="semi-header">GDPR Data Protection Rights</h3>
      <p class="paragraph">
        We want to ensure that you are fully aware of all of your data
        protection rights. Every user is entitled to:
      </p>
      <ul>
        <li>
          The right to access – You may request copies of your personal data. A
          small fee may apply.
        </li>
        <li>
          The right to restrict processing – You may request that we restrict
          the processing of your personal data under certain conditions.
        </li>
        <li>
          The right to object to processing – You may object to the processing
          of your personal data under certain conditions.
        </li>
        <li>
          The right to data portability – You may request that we transfer the
          data we have collected to another organization or directly to you
          under certain conditions.
        </li>
      </ul>
      <p class="paragraph">
        If you make a request, we will respond within one month. To exercise
        these rights, please contact us.
      </p>
      <h3 class="semi-header">Children’s Information</h3>

      <p class="paragraph">
        Protecting children’s privacy online is a priority. We encourage parents
        and guardians to monitor, participate in, and/or guide their children’s
        online activity.
      </p>
      <p class="paragraph">
        DesignUnity does not knowingly collect any personally identifiable
        information from children under the age of 13. If you believe your child
        has provided such information on our website, please contact us
        immediately, and we will make our best efforts to remove the information
        from our records.
      </p>
      <h3 class="semi-header">Changes to This Privacy Policy</h3>
      <p class="paragraph">
        We may update our Privacy Policy periodically. We advise you to review
        this page regularly for any changes. Any changes will be posted on this
        page and will be effective immediately upon posting.
      </p>
      <p class="paragraph">
        We may update our Privacy Policy periodically. We advise you to review
        this page regularly for any changes. Any changes will be posted on this
        page and will be effective immediately upon posting.
      </p>
      <h3 class="semi-header">Contact Us</h3>
      <p class="paragraph">
        If you have any questions or suggestions regarding our Privacy Policy,
        please do not hesitate to contact us.
      </p>
    </div>
  </div>
</div>
