.app {
  display: grid;
  grid-template-rows: 0 0 1fr;

  app-header {
    // position: fixed;
    width: 100%;
    // top: 0;
    z-index: 1;
  }

  &__container {
    height: 100vh;
    overflow: auto;
    z-index: 0;
    background: #f5f1ec;
    // padding-top: 140px;
  }
}

::ng-deep du-dialog {
  position: fixed !important;
  z-index: 11 !important;
}
