@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixins";
.about {
  &__header {
    height: 75vh;
    background-image: url("../../../assets/img/about-bg.png");
    display: grid;
    align-items: center;

    padding-left: 100px;
    background-position: top right;
    background-size: cover;
    h1 {
      padding-top: 100px;
      @include page-header();
      font-weight: 300;
      color: #fff;
    }
    @media (max-width: 1200px) {
      height: 65vh;
      padding-left: 70px;
      h2 {
        padding-top: 50px;
        font-weight: 400;
      }
    }
    @media (max-width: 550px) {
      height: 35vh;
      padding-left: 30px;
      h2 {
        padding-top: 50px;
        font-weight: 600;
      }
    }
  }
  &__about {
    background: #f6f1eb url(../../../assets/img/bg.png) no-repeat center center;
    background-size: cover;
    padding: clamp(20px, 5.5vh, 100px) clamp(15px, 5vh, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 900px) {
      padding: 16px;
    }
    &--content {
      max-width: 1440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(10px, 3.5vh, 60px);
      @media (max-width: 900px) {
        gap: 10px !important;
      }
      
      p {
        max-width: 1000px;
      }
    }
  }
  &__clients {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 550px) {
      padding: 16px;
    }
    &--header {
      //   h2 {
      //     padding-top: 100px;
      //     @include page-header();
      //     font-weight: 300;
      //   }
    }
    &--content {
      max-width: 1440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(10px, 3.5vh, 60px);
      width: 100%;
    }
  }
}

.client__list {
  display: grid;
  //padding-top: 100px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 100px;

  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  //background: #808080;
  @media (max-width: 900px) {
    margin-top: 16px;
  }
  &--item {
    //border: 1px solid red;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: #f5f1ec;
    border: 1px solid #c0c0c0;
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      width: 100%;
    }
    &:hover {
      img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  @media (max-width: 550px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    &--item {
      padding: 5px 10px;
    }
  }
}
