<div class="about">
  <div class="about__header">
    <h2>About Us</h2>
  </div>
  <div class="about__about">
    <div class="about__about--content">
      <h3 class="semi-header">Our Profile</h3>
      <p class="paragraph">
        Venetian plaster has existed for centuries. Although it dates back to
        the ancient Romans, it was only during the 16th-century Renaissance that
        the material inspired multiple skilled craftsmen and artists.
      </p>
      <p class="paragraph">
        Design Unity combines this ancient technique with an impeccable finish
        to transform any regular surface into a masterpiece.
      </p>
      <p class="paragraph">
        We combine art and science to bring out the authentic beauty of surfaces
        that will be eye-catching for years to come. Sourcing natural lime from
        Italy and other parts of the world, we create plasters that can be
        applied to surfaces in varying designs and patterns to achieve stunning
        results. We offer a blend of special additives, such as mother of pearl,
        marble flour, or gold flakes that create lustrous façades.
      </p>
    </div>
  </div>
  <div class="about__clients">
    <div class="about__clients--header">
      <h2 class="semi-header">Our Clients</h2>
    </div>
    <div class="about__clients--content">
    
    </div>
  </div>
</div>
