<div class="about">
  <div class="about__header">
    <h2>About Us</h2>
  </div>
  <div class="about__about">
    <div class="about__about--content">
      <h3 class="semi-header">Our Profile</h3>
      <!-- <p class="paragraph">
        Venetian plaster has existed for centuries. Although it dates back to
        the ancient Romans, it was only during the 16th-century Renaissance that
        the material inspired multiple skilled craftsmen and artists.
      </p>
      <p class="paragraph">
        Design Unity combines this ancient technique with an impeccable finish
        to transform any regular surface into a masterpiece.
      </p>
      <p class="paragraph">
        We combine art and science to bring out the authentic beauty of surfaces
        that will be eye-catching for years to come. Sourcing natural lime from
        Italy and other parts of the world, we create plasters that can be
        applied to surfaces in varying designs and patterns to achieve stunning
        results. We offer a blend of special additives, such as mother of pearl,
        marble flour, or gold flakes that create lustrous façades.
      </p> -->
      <p class="paragraph">
        We are a one-of-a-kind, supply & apply partner of high-end Venetian
        plaster finishes that elevate your residential and commercial spaces. We
        provide customised solutions that bring your dreams and vision to life,
        with a commitment to craftsmanship and an unparalleled selection of
        eco-friendly, luxurious finishes that last a lifetime. Our products,
        imported from Italy, and expert micro-applicators with years of training
        directly from Italian experts combine professional techniques with
        modern innovation to offer timeless elegance, durability, and an
        exquisite tactile experience. Trusted by leading architects, designers,
        developers, and modern homeowners, we provide a complete range of
        services from space evaluation, product and finish selection to
        application, ensuring exceptional results every time, on time.
      </p>
    </div>
  </div>
  <div class="about__clients">
    <div class="about__clients--header">
      <h2 class="semi-header">Our Clients</h2>
    </div>
    <div class="about__clients--content">
      <div class="client__list">
        <div class="client__list--item" *ngFor="let item of clients">
          <img src="../../../assets/client-logos/{{ item.imagePath }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <img src="../../../assets/client-logos/" alt="" /> -->
