<div class="contact">
  <div class="contact__sec-1">
    <h2>Contact Us</h2>
  </div>
  <div class="contact__body">
    <div class="tabs">
      <h3 class="semi-header">Experience Center Locations</h3>
      <!-- Tab titles (navigation) -->
      <ul class="tabs__titles">
        <li (click)="setActiveTab(0)" [class.active]="0 === selectedTab">
          <div class="img"></div>

          Hyderabad
        </li>
        <li (click)="setActiveTab(1)" [class.active]="1 === selectedTab">
          <div class="img"></div>
          Bangalore
        </li>
        <li (click)="setActiveTab(2)" [class.active]="2 === selectedTab">
          <div class="img"></div>
          Chennai
        </li>
        <li (click)="setActiveTab(3)" [class.active]="3 === selectedTab">
          <div class="img"></div>
          Delhi
        </li>
      </ul>

      <!-- Tab content -->
      <div class="tabs__content">
        <div *ngIf="selectedTab === 0" class="maps">
          <div class="maps__info">
            <div class="mail">
              <img src="../../../assets/svg/contact-us/mail-icon.svg" alt="" />
              <p>
                info@designunity.com <br />
                sales@designunity.com
              </p>
            </div>
          </div>

          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="100%"
                height="100%"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=design%20unity%20experience%20center%20hyderabad&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe>
              <a href="http://vin-odometer.info">vin-odometer.info</a>
            </div>
          </div>
        </div>
        <div *ngIf="selectedTab === 1" class="maps">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="100%"
                height="100%"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=design%20unity%20experience%20center%20bangalore&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe
              ><a href="http://vin-odometer.info">vin-odometer.info</a>
            </div>
          </div>
        </div>
        <div *ngIf="selectedTab === 2" class="maps">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="100%"
                height="100%"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=dsign%20unity%20experience%20center%20channai&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe
              ><a href="http://vin-odometer.info">vin-odometer.info</a>
            </div>
          </div>
        </div>
        <div *ngIf="selectedTab === 3" class="maps">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="100%"
                height="100%"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=A-24%2F8%2C%20Ground%20floor%2C%20Rathi%20towers%2C%20%20Mohan%20Cooperative%20Industrial%20Estate%2C%20%20Saidabad%2C%20New%20Delhi%2C%20%20Delhi%20-110044dsign%20unity%20experience%20center%20delhi&t=&z=14&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe
              ><a href="http://vin-odometer.info">vin-odometer.info</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact__form">
      <h3 class="semi-header">Get In Touch</h3>





      
      <form
        *ngIf="false"
        action="https://forms.zohopublic.in/techwish/form/ContactUs/formperma/j7K5rPV3EvnRbXIAr2aIx5-nM9QMyrvskyzPJTzY9Us/htmlRecords/submit"
        name="form"
        id="form"
        method="POST"
        accept-charset="UTF-8"
        enctype="multipart/form-data"
      >
        <input
          type="hidden"
          name="zf_referrer_name"
          value=""
        /><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
        <input
          type="hidden"
          name="zf_redirect_url"
          value=""
        /><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
        <input
          type="hidden"
          name="zc_gad"
          value=""
        /><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
        <p></p>
        <!--Name-->
        <div class="form">
          <div class="form__field">
            <input
              type="text"
              maxlength="255"
              name="Name_First"
              fieldType="7"
              placeholder="Enter Your First Name *"
            />
          </div>
          <div class="form__field">
            <input
              type="text"
              maxlength="255"
              name="Name_Last"
              fieldType="7"
              placeholder="Enter Your Last Name *"
            />
          </div>
          <div class="form__field">
            <input
              type="number"
              compname="PhoneNumber"
              name="PhoneNumber_countrycode"
              phoneFormat="1"
              isCountryCodeEnabled="false"
              maxlength="10"
              value=""
              fieldType="11"
              id="international_PhoneNumber_countrycode"
              placeholder="Enter Your Mobile Number"
            />
          </div>
          <div class="form__field">
            <input
              type="email"
              maxlength="255"
              name="Email"
              value=""
              fieldType="9"
              placeholder="Enter Your Email Address"
            />
          </div>
          <div class="form__field">
            <select name="Dropdown">
              <option selected="true" selected disabled value="-Select-">
                Which of the following categories do you relate to?
              </option>
              <option value="Architect">Architect</option>
              <option value="Interior&#x20;Designer">Interior Designer</option>
              <option value="PMC">PMC</option>
              <option value="Business&#x20;Owner">Business Owner</option>
              <option value="Home&#x20;Owner">Home Owner</option>
              <option value="Builder&#x2f;Developer">
                Builder / Developer
              </option>
            </select>
          </div>
          <div class="form__field radio-btn">
            <p>
              Do you have any paint/flooring/designer finishes application
              planned in the immediate future? *
            </p>
            <div class="radio-btn__group">
              <div class="radio-btn__form">
                <input type="radio" name="finishes" id="" />
                <label for="">Yes</label>
              </div>
              <div class="radio-btn__form">
                <input type="radio" name="finishes" id="" />
                <label for="">No</label>
              </div>
            </div>
            <div class="form__field">
              <select name="Dropdown1">
                <option selected="true" value="-Select-">-Select-</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div class="form__field">
            <select name="Dropdown2">
              <option selected="true" disabled value="">
                How much is the paint/flooring/designer finish application area
                in sq.ft?
              </option>
              <option value="&lt;500">&lt;500</option>
              <option value="500-1000">500-1000</option>
              <option value="1001-5000">1001-5000</option>
              <option value="5001-10000">5001-10000</option>
              <option value="&gt;10000">&gt;10000</option>
              <option
                value="I&#x20;am&#x20;not&#x20;sure.&#x20;Please&#x20;arrange&#x20;a&#x20;visit"
              >
                I am not sure. Please arrange a visit
              </option>
            </select>
          </div>
          <div class="form__field">
            <select name="Dropdown3">
              <option selected="true" disabled value="">
                The site to be painted is
              </option>
              <option value="Residential">Residential</option>
              <option value="Office&#x20;&amp;&#x20;Commercial">
                Office &amp; Commercial
              </option>
              <option value="Office">Office</option>
              <option value="Commercial">Commercial</option>
              <option value="Hospitality">Hospitality</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Industry">Industry</option>
              <option value="Infrastructure">Infrastructure</option>
            </select>
          </div>
          <div class="form__field">
            <select name="Dropdown4">
              <option selected="true" disabled value="-Select-">
                By when do you require the application to begin?
              </option>
              <option value="Within&#x20;1&#x20;month">Within 1 month</option>
              <option value="1-3&#x20;months">1-3 months</option>
              <option value="4-6&#x20;months">4-6 months</option>
              <option value="&gt;6&#x20;months">&gt;6 months</option>
            </select>
          </div>
          <div class="form__field">
            <select name="Dropdown5">
              <option selected="true" disabled value="-Select-">
                Are you working with any Interior Designer/Architect?
              </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="form__field">
            <input
              type="text"
              name="SingleLine"
              value=""
              fieldType="1"
              maxlength="255"
              placeholder="Which city is the site to be painted located in?"
            />
          </div>
          <div class="form__field">
            <textarea
              placeholder="Leave us a few words"
              name="MultiLine"
              maxlength="65535"
              placeholder=""
            ></textarea>
          </div>
        </div>
        <div class="form__field btn">
          <button type="submit">Submit</button>
        </div>
        <!--Phone-->

        <!--Dropdown-->

        <!--Dropdown-->
      </form>
      <div class="contact__fields" *ngIf="false">
        <div class="contact__fields--names">
          <input
            type="text"
            placeholder="Enter your First Name* "
            name=""
            id=""
          />
          <input
            type="text"
            placeholder="Enter your Last Name* "
            name=""
            id=""
          />
        </div>
        <input
          type="number"
          placeholder="Enter your Mobile Number* "
          name=""
          id=""
        />
        <input
          type="email"
          placeholder="Enter your email address* "
          name=""
          id=""
        />
        <select
          name=""
          aria-placeholder="Which of the following categories do you relate to?*"
          id=""
        >
          <option value="" disabled selected>
            Which of the following categories do you relate to?*
          </option>
        </select>
        <div class="form-options">
          <p>
            Do you have any paint/flooring/designer finishes application planned
            in the immediate future? *
          </p>
          <div class="radio-btns">
            <div class="radio-btns__item">
              <input type="radio" name="Yes" id="" />
              <span>Yes</span>
            </div>
            <div class="radio-btns__item">
              <input type="radio" name="Yes" id="" />
              <span>No</span>
            </div>
          </div>
        </div>
        <select
          name=""
          aria-placeholder="Which of the following categories do you relate to?*"
          id=""
        >
          <option value="" disabled selected>
            How much is the paint/flooring/designer finish application area in
            sq.ft? *
          </option>
        </select>
        <select
          name=""
          aria-placeholder="Which of the following categories do you relate to?*"
          id=""
        >
          <option value="" disabled selected>
            The site to be painted is *
          </option>
        </select>
        <select
          name=""
          aria-placeholder="Which of the following categories do you relate to?*"
          id=""
        >
          <option value="" disabled selected>
            By when do you require the application to begin? *
          </option>
        </select>
        <input
          type="text"
          name=" "
          placeholder="Which city is the site to be painted located in? *"
          id=""
        />
        <div class="submit-btn">
          <button>
            Submit<span class="studio"
              ><img src="./assets/svg/nav-arrow.svg" width="60%" alt=""
            /></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
