<section class="testimonials_section">

    <div class="wrapper">
        <!-- <i class="fa-solid fa-angle-left"></i> -->
        <ul class="carousel">
            <li class="card">
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
                    <div class="starts">
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                    </div>
                </div>
                <div class="header">
                    <div class="profile">
                        <div class="img">
                            <img src="../../../assets/img/testimonials/user.png" alt="" width="100px">
                        </div>
                        <div class="details">
                            <h4> John doe 1 </h4>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card">
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <div class="starts">
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9734; </span>
                        <span> &#9734; </span>
                    </div>
                </div>
                <div class="header">
                    <div class="profile">
                        <div class="img">
                            <img src="../../../assets/img/testimonials/user.png" alt="" width="100px">
                        </div>
                        <div class="details">
                            <h4> Wilsmith 2</h4>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card">
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
                    <div class="starts">
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9734; </span>
                    </div>
                </div>
                <div class="header">
                    <div class="profile">
                        <div class="img">
                            <img src="../../../assets/img/testimonials/user.png" alt="" width="100px">
                        </div>
                        <div class="details">
                            <h4> Kigo Dentals 3</h4>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card">
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <div class="starts">
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9734; </span>
                    </div>
                </div>
                <div class="header">
                    <div class="profile">
                        <div class="img">
                            <img src="../../../assets/img/testimonials/user.png" alt="" width="100px">
                        </div>
                        <div class="details">
                            <h4> Danwal warus 4</h4>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <div class="starts">
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                    </div>
                </div>
                <div class="header">
                    <div class="profile">
                        <div class="img">
                            <img src="../../../assets/img/testimonials/user.png" alt="" width="100px">
                        </div>
                        <div class="details">
                            <h4> King khan 5</h4>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card">
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <div class="starts">
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9733; </span>
                        <span> &#9734; </span>
                    </div>
                </div>
                <div class="header">
                    <div class="profile">
                        <div class="img">
                            <img src="../../../assets/img/testimonials/user.png" alt="" width="100px">
                        </div>
                        <div class="details">
                            <h4>  Dentals Kigo 6</h4>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- <i class="fa-solid fa-angle-right"></i> -->
        

        <div class="button-area">
            <button type="button" class="prev" appPrev> <img src="../../../assets/img/testimonials/left-arrow.svg" alt=""> </button>
            <button type="button" class="next" appNext> <img src="../../../assets/img/testimonials/right-arrow.svg" alt=""> </button>
        </div>

    </div>

</section>
