<div class="flooring">
    <div class="flooring__sec-1">
      <h2>Flooring</h2>
    </div>
    <div class="flooring__sec-2">
      <div class="flooring__sec-2--title">
        <h3>LUXURIOUS FLOORING SOLUTIONS</h3>
      </div>
      <p>
        Design Unity prioritizes client satisfaction like no other. Our commitment to providing the client with whatever their idea of timeless beauty is has led us to create a number of options that they’re bound to fall in love with. Our products are the result of well-researched, finely crafted efforts by experts who deliver elegance every time they get to work. Explore our flooring options, which will surely win your heart.
      </p>
    </div>

    <div class="flooring__sec-3">
        <div class="flooring__sec-3__sub"> 
            <div class="sec__content">
                <h3> Microcements </h3>
                <p>Combining liquid polymers and a special cement mixture, microcement floors are minimalist, seamless, and ideal for indoor or outdoor venues. They are also highly resistant to impact, abrasion, and compression.</p>
            </div> 
            <div class="sec__image">
                <div class="image_container">
                    <img src="../../../../assets/img/flooring/1.png" alt="" class="default_img">
                    <img src="../../../../assets/img/flooring/2.png" alt="" class="hover_img">
                </div>
            </div>   
        </div>
        <div class="flooring__sec-3__sub"> 
            <div class="sec__content">
                <h3> Designer Epoxy </h3>
                <p>Make the floor a dazzling artwork with the highly creative, steady use of shades, patterns and motifs. We can sculpt any desired effect, from a gushing river to an urban cityscape.</p>
            </div> 
            <div class="sec__image">
                <div class="image_container">
                    <img src="../../../../assets/img/flooring/3.png" alt="" class="default_img">
                    <img src="../../../../assets/img/flooring/4.png" alt="" class="hover_img">
                </div>
            </div>     
        </div>
        <div class="flooring__sec-3__sub"> 
            <div class="sec__content">
                <h3> Terrazzo </h3>
                <p>We design a mélange of flooring ideas using marble, quartz, granite, or glass chips to give the well-known terrazzo flooring a contemporary twist.</p>
            </div> 
            <div class="sec__image">
                <div class="image_container">
                    <img src="../../../../assets/img/flooring/5.png" alt="" class="default_img">
                    <img src="../../../../assets/img/flooring/6.png" alt="" class="hover_img">
                </div>
            </div>     
        </div>
        <div class="flooring__sec-3__sub"> 
            <div class="sec__content">
                <h3> Concrete Flooring </h3>
                <p>Offering a Nordic-inspired expression to a space, our seamless Concrete fllors are perfect for that industrial, modern look while fashioning a floor that is impossible to damage.</p>
            </div> 
            <div class="sec__image">
                <div class="image_container">
                    <img src="../../../../assets/img/flooring/7.png" alt="" class="default_img">
                    <img src="../../../../assets/img/flooring/8.png" alt="" class="hover_img">
                </div>
            </div>     
        </div>
    </div>


</div>

<app-footer></app-footer>