<div class="blog__section">
    <div class="container">
        <div class="blog__heading">
            <h2> Blogs </h2>
        </div>
        <div class="blog__banner">
            <div class="blog__banner__text">
                <p> Featured Blog </p>
                <h2> Lorem ipsum dolor sit amet consectetur adipisicing elit, </h2>
                <p> Novermber 2, 2021 </p>
                <button class="button" > Know More <span> icon </span> </button>
            </div>
        </div>
    </div>
</div>