@import '../../../styles/scss/variables';
@import '../../../styles/scss/mixins';
@import '../../../styles/scss/container';

.container{
    max-width: $screen-max-size;
    margin: 0 auto;
}

.blog{
    &__section{
        background: #f5f1eb;
        margin-top:150px;
    }
    &__heading{
        h2{
            @include heading($color:#000);
            text-transform: capitalize;
            letter-spacing: 4px;
            font-family: "Tenor_Sans";
            font-size: 50px;
        }
    }
    &__banner{
        height: 500px;
        width: 100%;
        background: url('../../../assets/img/about-bg.png') no-repeat center;
        background-size: cover;
    }

}