<div
  class="slide"
  [ngStyle]="{
    gridTemplateColumns:
      activeColumn == 1
        ? '1fr auto auto'
        : activeColumn == 2
        ? 'auto 1fr auto'
        : activeColumn == 3
        ? 'auto auto 1fr'
        : ''
  }"
>
  <div
    class="slide__item hyderabad"
    [ngClass]="{ active: activeColumn === 1 }"
    (click)="selectArea(1)"
  >
    <div class="slide__item--header"></div>
    <div class="slide__item--content"></div>
  </div>
  <div
    class="slide__item delhi"
    [ngClass]="{ active: activeColumn === 2 }"
    (click)="selectArea(2)"
  >
    <div class="slide__item--header"></div>
    <div class="slide__item--content"></div>
  </div>
  <div
    class="slide__item bangalore"
    [ngClass]="{ active: activeColumn === 3 }"
    (click)="selectArea(3)"
  >
    <div class="slide__item--header"></div>
    <div class="slide__item--content"></div>
  </div>
</div>
