@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

/* Mobile phones */
@media (max-width: 767px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .facts_section {
    .facts_details_right {
      display: none;
    }
  }

  
}

/* Tablets */
@media (max-width: 991px)  {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
}
