.img-responsive {
  width: 100%;
  height: auto;
}

@import "variables";
@mixin heading($color:$heading_color) {
  color: $color;
  font-family: $heading-font;
  text-align: $text-align;
  font-weight: 100;
  text-transform: uppercase;
  font-size: $font_heading;
}

@mixin banner_heading{
  font-size: $font_banner_text;
  font-family: "Tenor_Sans";
}

@mixin sub_text{ 
  letter-spacing: 0.9px;
  margin: 0 auto;
  font-size: $font_sub_heading;
  text-align: center;
  line-height: 1.8;
  font-family: $text_font;
  @media (max-width: 991px){
    padding: 8px;
    text-align: justify;
  }
}

@mixin button {
    background: #F2DA77;
    color: #000;
    font-size: 18px;
    padding:16px  20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    align-items: center;
    img {
      margin-left: 10px;
      grid-column: 2;
      width: 0;
      transition: width .4s;
    }
    &:hover {
        img {
            width: 40px;
          
        }
    }
}


@mixin font-style(
  $font-size: 16px,
  $font-face: "Helvetica-light",
  $color: #000
) {
  font-size: $font-size;
  font-family: "Helvetica-light";
  color: $color;
}

@mixin page-header(
  $font-size: $page-header,
  $font-family: "Tenor_Sans",
  $color: #000
) {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
}
@mixin grid-template(
  $grid-direction: column,
  $grid-template-values: auto,
  $gap: 10px
) {
  display: grid;
  gap: $gap;
  @if $grid-direction== 'row' {
    grid-template-rows: $grid-template-values;
  } @else {
    grid-template-columns: $grid-template-values;
  }
}

@mixin dflex{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin page_content{
  font-size: 23px;
  text-align: center;
  line-height: 35px;
  font-family: $text_font;
  @media (max-width: 991px) {
    font-size: 18px;
    line-height: 34px;
  }
}